div(class='mp-level p-8')
	mixin item(name, icon)
		li
			a(href='#' class='flex items-center p-4 text-3xl text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group')= name
				if icon
					svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
						path(fill="currentColor" d= icon)

	ul
		+item('Design', 'm12 1.586l6.01 6.01a8.5 8.5 0 0 1 1.906 9.114a7.5 7.5 0 0 1-1.918 2.92a8.5 8.5 0 0 1-2.63 1.784A8.503 8.503 0 0 1 5.99 7.595zm3.157 17.704c.453-.258.927-.612 1.451-1.1a6.5 6.5 0 0 0 1.445-2.21a6.7 6.7 0 0 0 .381-2.387c-.032-1.742-.695-3.44-1.838-4.583L13 5.414v14.542a5.5 5.5 0 0 0 1.548-.368q.31-.132.61-.298M11 5.414L7.404 9.01A6.5 6.5 0 0 0 11 20.03z')
		+item('Content')
		+item('Settings')
	//- ul
	//- 	li
	//- 		a(href='#' class='flex items-center p-8 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group') Settings
	//- 	li
	//- 		a(href='#') Design
	//- mixin item(name)
	//- 	li.item= name
	//- ul
	//- 	+item('Design')
	//- 	+item('Content')
	//- 	+item('Settings')

