/* @import "./fonts.css"; */

body {
	font-family: "Satoshi", sans-serif;
}

/* Offcanvas */
.opus-dashboard {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 600px;
	transform: translate3d(100%, 0, 0);
	transition: transform 0.5s ease;
}

.opus-dashboard__level {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	transform: translate3d(100%, 0, 0);
	transition: transform 0.5s ease;

	@media (prefers-color-scheme: dark) {
		box-shadow: -1px 0 2px rgba(0, 0, 0, 1);
	}

	.is-open {
		transform: translate3d(40px, 0, 0);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: scale(0);
		background-color: rgba(0, 0, 0, 0.05);
		transition:
			transform 0.1s,
			opacity 0.5s;
		z-index: -1;
		cursor: pointer;

		@media (prefers-color-scheme: dark) {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	h2 {
		&::before {
			content: "";
			display: inline-block;
			width: 2em;
			height: 1px;
			background-color: currentColor;
			vertical-align: middle;
			margin-right: 0.5em;
		}

		svg {
			font-size: 1.5rem;
			position: absolute;
			top: 10px;
			left: 0;
			opacity: 0;
			transform: translateX(-100%);
			transition:
				opacity 0.5s,
				transform 0.5s;
		}
	}

	.arrow {
		flex-basis: 100%;
	}
}

.opus-dashboard__level-overlay {
	&::after {
		opacity: 1;
		transform: scale(1);
	}

	& > h2 svg {
		opacity: 1;
		transform: translateX(6px);
		transition:
			transform 0.5s,
			opacity 0.5s;
	}
}

/* First level */
.opus-dashboard > .opus-dashboard__level,
.opus-dashboard > .opus-dashboard__level.is-open {
	transform: translate3d(0, 0, 0);
}
